.reset-password{
	background-color: white;
	padding: 50px 0px;
	&-form{
		border: 1px solid #d4d3d3;
		border-radius: 3px;
		padding: 20px;
		position: relative;
		&-header{
			text-align: center;
			h1{
				font-size: 34px;
				font-weight: 600;
				padding: 0 40px;				
			}

			&:after{
				content: '';
				height: 1px;
				width: 90%;
				background-color: #d4d3d3;
				position: absolute;
				top: 120px;
				left: 50%;
				transform: translate(-50%, -100%)
			}
		}
		.success{
			&:after{
				content: '' !important;
				width: 0 !important;
				height: 0px !important;
			}
			button{
				border-radius: 3px;
				height: 45px;
			}
		}
		&-body{
			padding: 20px 60px;
			form{
				.alt::placeholder{
					color: #c0c0c0;
					font-size: 14px;
				}
				.alt::-moz-placeholder{
					color: #c0c0c0;
					font-size: 14px;
				}
				.alt::-webkit-placeholder{
					color: #c0c0c0;
					font-size: 14px;
				}
				button[type="submit"]{
					border-radius: 3px;
					height: 45px;
				}
			}
		}
	}
}